<!DOCTYPE html>
<meta name="viewport" content="width=width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0">
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title> XJBG Judge </title>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.0/css/bulma.min.css">
    </head>
<body>
    <section class="section">
        <div class="container">

            <div class="content">
                <p>
                    <strong> Submit history of {{ username }} </strong>
                </p>
            </div>

            {% for task in tasks %}
            <div class="content">
                <p>
                    {{ task }}
                </p>
            </div>
            {% endfor %}

        </div>
    </section>
</body>
</html>

